body{
    background:linear-gradient(
        135deg,
        #f5f7fa,
        #e4ecfb
    );
}

.header-section h1{
    font-weight:700;
    color:#1f2937;
}

.header-section p{
    color:#6b7280;
}

.custom-card{
    border:none;
    border-radius:20px;
    box-shadow:0 12px 30px rgba(0,0,0,.08);
}

.card-body{
    padding:30px;
}

.form-control{
    border-radius:12px;
}

.btn-primary{
    border-radius:12px;
    padding:12px;
    font-weight:600;
}

.price-box{
    font-size:3rem;
    font-weight:700;
    color:#2563eb;
    margin-top:15px;
}